* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }


@font-face {
  font-family: 'Sophia';
  src: local('Sophia'), url("Sophia/Web Fonts/Sophia.eot"), url("Sophia/Web Fonts/Sophia.woff")
}

html, body {
    height: 100%;
    
 }

#bootstrap-overrides {
    background-color: #ffffff;
    background-color: white;
    /*background-color: #dcd0c0;
    /*background-color: rgb(223,231,242); */
}

.nav.nav-pills.nav-justified.fixed-top {
    background: rgba(255,255,255, 0.7);
}

.nav-link {
    color: #27131d;
    font-family: 'Playfair Display', sans-serif; 
    font-size: 20px;
}

.jumbotron.jumbotron-fluid {
    background-image: url("Images/bright_roses.jpg");
    background-size: 1680px;
    background-position: center center;
    padding-top: 20em;
    padding-bottom: 20em;
}

.display-3 {
    color: #27131d;
    font-family: 'Sophia', serif;
    font-size: 150px;
    padding-bottom: -15px;
    
}

.lead { 
    color: #27131d;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    padding-bottom: 15px;
}

/*
.btn-mixin {
    background-color: #27131d;
    font-family: 'Playfair Display', sans-serif;
    color: white;
} */

.service-introduction {
    padding: 50px;
}

.offer-description {
    padding: 10px;
}

.salon-services-container {
    background-color: #f9e4fa;
    background-color: #f9e6ef;
    background-color: #a8699b;
    background-color: #b784ad;
    background-color: #dedede;
}

#accordion {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #27131d;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    margin: 15px;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 15px;
    font-family: 'Playfair Display', sans-serif;
    color: #27131d;
    line-height: 10pt;
}

#accordion.active, .panel:hover {
    background-color: #ffffff;
}

#accordion .ui-icon {
    display: none;
}

.service-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    display: inline;
}

.service-title {
    flex: 0 1 auto;
    position: absolute;
}

.service-item {
    flex: 0 1 auto;
    align-self: flex-end;
    line-height: 1.0;
}



#accordion .ui-accordion-content {
    display: none;
    text-align: left;
}

#accordion .ui-accordion-header {
    margin: 0;
    font-size: 25px;
    border-color: #27131d;
    background-color: #ffffff;
    
}

#accordion .ui-accordion-header-active {
    color: #b784ad;;
    
}


h3 {
    position: static;
    right: 16px;
    z-index: 5;
    display: inline-block;
    margin-top: 10px;
}


.starting-price {
    position: relative;
    display: inline;
    float: right;
    text-align: right;
}


.container.tile {
    padding-bottom: 50px;
}


section {
    padding-bottom: 50px;
}

.col-sm-4 {
    align-content: center;    
}


footer {
    background-color: #b784ad;
}

.fa.fa-facebook-square {
    font-size: 40px;
    display: block;
}


h6, p {
    font-family: 'Playfair Display', sans-serif;
    color: #27131d;
    text-align: center;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    color: #b784ad;
    
}

h5 {
    font-family: 'Playfair Display', sans-serif;
}



